<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/dashboard"><i class="ti ti-home"></i>  Home</a></li>
      <li><a href="/dashboard/partnerdir"><i class="ti ti-folders"></i> Partner Directory</a></li>
      {{#if admin}}<li><a href="/dashboard/users"><i class="ti ti-shield-lock"></i>  Admin</a></li>{{/if}}
      <li class="secondary"><a href="/logout"><i class="ti ti-logout"></i></a></li>
      {{#if admin}}<li class="secondary"><a href="#" onclick="settingsModal(0)"><i class="ti ti-settings"></i></a></li>{{/if}}
    </ul>
  </nav>
  <div class="titlecard">
     <div class="card-inner">
      <h1>Welcome, {{firstName}}!</h1><br>
      <div class="spacer">
        <p>Use the dropdown below to view different schedules for different years. If a desired year is not listed, please contact an administrator.</p>
      </div>
      <h4>Select year</h4>
      <form action="/dashboard/filter" method="post">
        <div class="spacer inline">
          <select name="yearSelect" autocomplete="off">
            {{#each year}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
        </div>
        <button class="btn btn-info small"><i class="ti ti-filter"></i></button>
      </form>
    </div>
  </div>
  <div class="schedule t-wrapper">
    <table>
      <tr class="heavy">
        <th>Week</th>
        <th>From</th>
        <th>To</th>
        <th>Condo Side</th>
        <th>Scheduled - {{setYear}}</th>
        <th>Actual - {{setYear}}</th>
        <th>Notes</th>
      </tr>
      {{#each scheduleData}}
      {{#ifEquals this.condoSide 0}}
      {{#ifEquals this.groupName this.actualGroup}}
      <tr>
        <td>{{increment}}</td>
        <td>{{this.startDate}}</td>
        <td>{{this.endDate}}</td>
        <td>Snowbirds</td>
        <td>{{this.groupName}}</td>
        <td><strong><a href="#" onclick="actualModal({{this.id}})" class="modal-schedule-{{this.id}}"><i class="ti ti-table-import"></i> {{this.actualGroup}}</a></strong></option></td>
        <td><a href="#" onclick="notesModal({{this.id}})"><i class="ti ti-notes"></i></a></td>
      </tr>
      {{else}}
      <tr class="highlight-row">
        <td>{{increment}}</td>
        <td>{{this.startDate}}</td>
        <td>{{this.endDate}}</td>
        <td>Snowbirds</td>
        <td>{{this.groupName}}</td>
        <td><strong><a href="#" onclick="actualModal({{this.id}})" class="modal-schedule-{{this.id}}"><i class="ti ti-table-import"></i> {{this.actualGroup}}</a></strong></option></td>
        <td><a href="#" onclick="notesModal({{this.id}})"><i class="ti ti-notes"></i></a></td>
      </tr>
      {{/ifEquals}}
      {{else}}
      {{#ifEquals this.groupName this.actualGroup}}
      <tr>
        <td>&nbsp;</td>
        <td>{{this.startDate}}</td>
        <td>{{this.endDate}}</td>
        <td>Snowkats</td>
        <td>{{this.groupName}}</td>
        <td><strong><a href="#" onclick="actualModal({{this.id}})" class="modal-schedule-{{this.id}}"><i class="ti ti-table-import"></i> {{this.actualGroup}}</a></strong></option></select></td>
        <td><a href="#" onclick="notesModal({{this.id}})"><i class="ti ti-notes"></i></a></td>
      </tr>
      {{else}}
      <tr class="highlight-row">
        <td>&nbsp;</td>
        <td>{{this.startDate}}</td>
        <td>{{this.endDate}}</td>
        <td>Snowkats</td>
        <td>{{this.groupName}}</td>
        <td><strong><a href="#" onclick="actualModal({{this.id}})" class="modal-schedule-{{this.id}}"><i class="ti ti-table-import"></i> {{this.actualGroup}}</a></strong></option></select></td>
        <td><a href="#" onclick="notesModal({{this.id}})"><i class="ti ti-notes"></i></a></td>
      </tr>
      {{/ifEquals}}
      {{/ifEquals}}
      {{headingLoop}}
      {{/each}}
    </table>
  </div>
  {{#each scheduleData}}
  <div class="modal actual-modal-{{this.id}}">
    <div class="inner actual-inner-{{this.id}}">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="actualClose({{this.id}})"><i class="ti ti-square-x"></i></span></a>
          <h1>Changing Planned Schedule From "{{this.actualGroup}}" on {{this.startDate}}</h1>
          <h3>Ensure that both parties involved in this switch approve of it. This change will be logged.</h3><br>
          <form action="/schedule/edit/actual" method="post">
            <div class="spacer">
              <select name="newActual">
                {{#each ../userGroups}}
                <option value="{{this.groupName}}">{{this.groupName}}</option>
                {{/each}}
              </select>
            </div>
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="hidden" name="year" value="{{../setYear}}">
            <button type="submit" class="btn-info btn-full"><i class="ti ti-edit"></i> Change Group</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{#each scheduleData}}
  <div class="modal notes-modal-{{this.id}}">
    <div class="inner notes-inner-{{this.id}}">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="notesClose({{this.id}})"><i class="ti ti-square-x"></i></span></a>
          <div class="spacer">
            <h1>Editing Notes for "{{this.actualGroup}}" on {{this.startDate}}</h1>
          </div>
          <form action="/schedule/edit/notes" method="post">
            <textarea name="notes" rows="10">{{this.notes}}</textarea>
            <input type="hidden" name="id" value="{{this.id}}">
            <input type="hidden" name="year" value="{{../setYear}}">
            <button type="submit" class="btn-info btn-full"><i class="ti ti-edit"></i> Edit Notes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="modal" id="settings">
    <div class="inner" id="settings-inner">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="settingsClose(0)"><i class="ti ti-square-x"></i></span></a>
          <div class="spacer">
            <h1>General Settings</h1>
            <h3 class="warning"><i class="ti ti-shield-check"></i> This area is accessible to administrators only</h3>
          </div>
          <div class="spacer">
            <form action="/settings/webmaster" method="post">
              <input type="text" class="inline normal" name="email" placeholder="Administration Contact Email" value="{{webmaster}}">
              <input type="hidden" name="from" value="dashboard">
              <button type="submit" class="inline small btn-info"><i class="ti ti-check"></i></button>
            </form>
          </div>
          <div class="spacer">
            <h2>Schedule Manager</h2>
            <table>
              <tr class="heavy">
                <th>Year</th>
                <th>Delete</th>
              </tr>
              {{#each year}}
              <tr>
                <td>{{this}}</td>
                <td><a href="/schedule/delete?year={{this}}&from=dashboard" class="danger"><i class="ti ti-trash"></i></a></td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script src="js/modal.js" type="text/javascript"></script>
</body>
</html>