<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <meta name="description" content="description">
    <meta name="author" content="author">
    <meta name="keywords" content="keywords">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
  </head>
  <body>
    <div class="main-parent">
      <div class="main-child">
        <img src="/img/vailcondoassociates.jpg" alt="Vail Condo Associates"><br>
        <p>Your account will not be created immediately; it will first have to be approved by an administrator</p>
        <div class="form-container">
          <form action="/register" method="post">
            <label class="formLabel">Name <span class="danger">*</span></label><br>
            <div class="field-wrapper">
              <input type="text" name="fName" class="halve" placeholder="First name" required>
              <input type="text" name="lName" class="halve" placeholder="Last name" required>
            </div>
            <label class="formLabel">Email <span class="danger">*</span></label>
            <div class="field-wrapper">
              <input type="email" name="email" required>
            </div>
            <label class="formLabel">Password <span class="danger">*</span></label>
            <div class="field-wrapper">
              <input type="password" name="password" required>
            </div>
            <label class="formLabel">Address <span class="danger">*</span></label>
            <div class="field-wrapper">
              <input type="text" name="address" required>
            </div>
            <label class="formLabel">Address 2</label>
            <div class="field-wrapper">
              <input type="text" name="address2">
            </div>
            <label class="formLabel inline">Location <span class="danger">*</span></label><br>
            <div class="field-wrapper">
              <input type="text" name="city" class="third" placeholder="City" required>
              <input type="text" name="state" class="third" placeholder="State" required>
              <input type="number" name="zipcode" class="third" placeholder="Zipcode" required>
            </div>
            <label class="formLabel">Phone # <span class="danger">*</span></label>
            <div class="field-wrapper">
              <input type="number" name="phone" required>
            </div>
            <label class="formLabel">Group Name <span class="danger">*</span></label>
            <div class="field-wrapper">
              <select name="group" style="width: 100%">
                {{#each userGroup}}
                <option value="{{this.id}}">{{this.groupName}}</option>
                {{/each}}
              </select>
            </div>
            <input type="submit" value="Register" name="submit">
          </form>
        </div>
        <p><a href="/"><i class="ti ti-arrow-left"></i> Return to login page</a></p>
        <p class="danger">{{error}}</p>
      </div>
    </div>
    <footer>
      <p>Problems? Please contact <a href="mailto:{{webmaster}}">{{webmaster}}</a></p>
    </footer>
  </body>
</html>