<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Partner Management</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons@latest/iconfont/tabler-icons.min.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/dashboard"><i class="ti ti-home"></i>  Home</a></li>
      <li><a href="/dashboard/partnerdir"><i class="ti ti-folders"></i> Partner Directory</a></li>
      {{#if admin}}<li><a href="/dashboard/users"><i class="ti ti-shield-lock"></i>  Admin</a></li>{{/if}}
      <li class="secondary"><a href="/logout"><i class="ti ti-logout"></i></a></li>
      {{#if admin}}<li class="secondary"><a href="#" onclick="settingsModal(0)"><i class="ti ti-settings"></i></a></li>{{/if}}
    </ul>
  </nav>
  <div class="main-parent">
    <div class="main-child">
      {{#if error}}<h3 class="danger margin-top">{{error}}</h3>{{/if}}
      <div class="left-container">
        <h2 class="spacer">Create New Partner Unit</h2>
        <form action="/group/add" method="post">
          <div class="field-wrapper">
            <input type="text" placeholder="Partner Unit Name" name="gname" maxlength="100" required>
            <input type="number" name="snowbirds" class="input-half" placeholder="# of Snowbirds shares" min="0" required>
            <input type="number" name="snowkats" class="input-half" placeholder="# of Snowkats shares" min="0" required>
          </div>
          <div class="field-wrapper">
            <input type="submit" value="Add Partner Unit">
          </div>
        </form>
        <div class="t-wrapper-group">
          <table>
            <tr class="heavy">
              <th>Name</th>
              <th>Snowbirds</th>
              <th>Snowkats</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            {{#each userGroups}}
            <tr>
              <td>{{this.groupName}}</td>
              <td>{{this.snowbirds}}</td>
              <td>{{this.snowkats}}</td>
              <td><a href="#" onclick="groupEdit({{this.id}})"><i class="ti ti-edit"></i></a></td>
              <td><a href="#" class="danger" onclick="groupDelete({{this.id}})"><i class="ti ti-trash"></i></a></td>
            </tr>
            {{/each}}
          </table>
        </div>
      </div>
      <div class="right-container">
        <h2 class="spacer">Partners</h2>
        <div class="ut-wrapper">
          <table>
            <tr class="heavy">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>Partner Unit</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            {{#each userInfo}}
            {{#if this.activated}}
            <tr>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>
              <td>{{this.phoneNumber}}</td>
              <td>{{this.groupName}}</td>
              <td><a href="#" onclick="userEdit({{this.id}})"><i class="ti ti-edit"></i></a></td>
              <td><a href="#" class="danger" onclick="userDelete({{this.id}})"><i class="ti ti-trash"></i></a></td>
            </tr>
            {{/if}}
            {{/each}}
          </table>
        </div>
        {{#if activatedUserList}}
        <h2 class="spacer newusers">Incoming Partners</h2>
        <div class="t-wrapper">
          <table class="info">
            <tr class="heavy">
              <th>First Name</th>
              <th>Last Name</th>
              <th>Phone Number</th>
              <th>Partner Unit</th>
              <th>Accept</th>
              <th>Deny</th>
            </tr>
            {{#each userInfo}}
            {{#unless this.activated}}
            <tr>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>
              <td>{{this.phoneNumber}}</td>
              <td>{{this.groupName}}</td>
              <td><a class="safe" href="/user/add/?userID={{this.id}}"><i class="ti ti-check"></i></a></td>
              <td><a class="danger" href="/user/deny/?userID={{this.id}}"><i class="ti ti-x"></i></a></td>
            </tr>
            {{/unless}}
            {{/each}}
          </table>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="mpsc">
    <div class="main-child">
      <h2 class="spacer">Schedule Creation</h2>
        <p class="spacer">Choose the order of condo sides Snowkats and Snowbirds. Both will be compiled into a single schedule list. Changes submitted will be made immediately, so be cautious.</p>
        <div class="left-container-half">
          <h2 class="spacer">Snowbirds Schedule</h2>
          <form action="/schedule/edit" method="post" id="schedule">
          {{#each userGroups}}
            {{#if this.snowbirds}}
            <select name="snowbirds{{sb_increment}}" class="schedule-select">
              {{#if this.snowbirds}}
              <option value="" disabled selected>Select a Partner Unit</option>
              {{/if}}
              {{#each ../userGroups}}
              {{#if this.snowbirds}}
              <option value="{{this.id}}">{{this.groupName}}</option>
              {{/if}}
              {{/each}}
            </select>
            {{/if}}
          {{/each}}
          </form>
        </div>
        <div class="right-container-half">
          <h2 class="spacer">Snowkats Schedule</h2>
          {{#each userGroups}}
            {{#if this.snowkats}}
            <select name="snowkats{{sk_increment}}" form="schedule" class="schedule-select">
              {{#if this.snowkats}}
              <option value="" disabled selected>Select a Partner Unit</option>
              {{/if}}
              {{#each ../userGroups}}
              {{#if this.snowkats}}
              <option value="{{this.id}}">{{this.groupName}}</option>
              {{/if}}
              {{/each}}
            </select>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="spacer">
        <select form="schedule" name="year" class="schedule-select">
          {{#each selectYear}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>
      <button class="btn-info btn-full" form="schedule"><i class="ti ti-calendar-plus"></i> Change Schedule Order</button>
    </div>
  </div>
  {{#each userGroups}}
  <div class="modal modal-{{this.id}}">
    <div class="inner inner-{{this.id}}">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="gdelClose({{this.id}})"><i class="ti ti-square-x"></i></span></a>
          <h1>Delete Partner Unit "{{this.groupName}}"?</h1><br>
          <h3>Deleting Partner Units may severely impact current the current schedule. The "actual" table schedules will <strong>not</strong> be changed in order to preserve the actual schedule.</h3>
        </div>
      </div>
      <a href="/group/delete/?groupID={{this.id}}"><button class="btn-danger"><i class="ti ti-trash"></i> Delete</button></a>
    </div>
  </div>
  {{/each}}
  {{#each userGroups}}
  <div class="modal modal-edit-{{this.id}}">
    <div class="inner inner-edit-{{this.id}}">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="geditClose({{this.id}})"><i class="ti ti-square-x"></i></span></a>
          <h1>Editing Partner Unit "{{this.groupName}}"</h1><br>
          <form action="/group/edit" method="post">
            <div class="spacer">
              <label>Partner Unit Name</label>
              <input type="text" placeholder="Partner Partner Unit Name" name="gname" value="{{this.groupName}}" maxlength="100" required>
            </div>
            <div class="spacer">
              <label>Snowbirds Shares</label>
              <input type="number" name="snowbirds" placeholder="# of Snowbirds shares" min="0" value="{{this.snowbirds}}" required>
            </div> 
            <div class="spacer">
              <label>Snowkats Shares</label>
              <input type="number" name="snowkats" placeholder="# of Snowkats shares" value="{{this.snowkats}}" min="0" required>
            </div>
            <input type="hidden" name="gid" value="{{this.id}}">
            <button type="submit" class="btn-full btn-info"><i class="ti ti-edit"></i> Edit Partner Unit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  {{#each userInfo}}
  <div class="modal user-modal-{{this.id}}">
    <div class="inner user-inner-{{this.id}}">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="udelClose({{this.id}})"><i class="ti ti-square-x"></i></span></a>
          <h1>Remove user {{this.firstName}} {{this.lastName}}?</h1><br>
          <h3>{{this.firstName}} {{this.lastName}} will be fully removed from this site. This includes this partner's attachment to their current partner unit ({{this.groupName}})</h3>
        </div>
      </div>
      <a href="/user/delete/?userID={{this.id}}"><button class="btn-danger"><i class="ti ti-trash"></i> Delete Partner</button></a>
    </div>
  </div>
  {{/each}}
  {{#each userInfo}}
  <div class="modal user-modal-edit-{{this.id}}">
    <div class="inner user-inner-edit-{{this.id}}">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="ueditClose({{this.id}})"><i class="ti ti-square-x"></i></span></a>
          <h1>Editing Partner "{{this.firstName}} {{this.lastName}}"</h1><br>
          <form action="/user/edit" method="post">
            <div class="spacer">
              <label>Email <span class="danger">*</span></label><br>
              <input type="email" name="email" placeholder="Email" value="{{this.email}}" required>
            </div>
            <div class="spacer">
              <label>First Name <span class="danger">*</span></label><br>
              <input type="text" name="fname" placeholder="First Name" value="{{this.firstName}}" maxlength="100" required>
            </div>
            <div class="spacer">
              <label>Last Name <span class="danger">*</span></label><br>
              <input type="text" name="lname" placeholder="Last Name" value="{{this.lastName}}" maxlength="100" required>
            </div>
            <div class="spacer">
              <label>Phone # <span class="danger">*</span></label><br>
              <input type="number" name="phone" placeholder="Phone #" value="{{this.phoneNumber}}" maxlength="100" required>
            </div>  
             <div class="spacer">
              <label>Address <span class="danger">*</span></label><br>
              <input type="text" name="address" placeholder="Address" value="{{this.address}}" required>
            </div>
            <div class="spacer">
              <label>Address Line 2</label><br>
              <input type="text" name="address2" placeholder="Address Line 2" value="{{this.address2}}">
            </div>
             <div class="spacer">
              <label>City <span class="danger">*</span></label><br>
              <input type="text" name="city" placeholder="City" value="{{this.city}}" required>
            </div>
            <div class="spacer">
              <label>State <span class="danger">*</span></label><br>
              <input type="text" name="state" placeholder="State" value="{{this.state}}" required>
            </div>
            <div class="spacer">
              <label>Zipcode <span class="danger">*</span></label><br>
              <input type="number" name="zipcode" placeholder="Zipcode" value="{{this.zipcode}}" min="0" required>
            </div>
            <div class="spacer">
              <select name="group" style="width: 100%">
                {{#each ../userGroups}}
                {{#ifEquals this.id ../this.userGroup}}
                <option value="{{this.id}}" selected>{{this.groupName}}</option>
                {{else}}
                <option value="{{this.id}}">{{this.groupName}}</option>
                {{/ifEquals}}
                {{/each}}
              </select>
            </div>
            <div class="spacer">
              {{#ifEquals this.admin 0}}
              <input type="checkbox" name="admin" id="admin" style="margin-left: 5px">
              {{else}}
              <input type="checkbox" name="admin" id="admin" style="margin-left: 5px" checked>
              {{/ifEquals}}
              <label for="admin" class="warning"><i class="ti ti-shield-check"></i> Administrator Rights </label>
            </div>
            <input type="hidden" name="uid" value="{{this.id}}">
            <button type="submit" class="btn-info btn-full"><i class="ti ti-edit"></i> Edit Partner</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
  <div class="modal" id="settings">
    <div class="inner" id="settings-inner">
      <div class="spacer">
        <div class="content">
          <a href="#"><span class="close" onclick="settingsClose(1)"><i class="ti ti-square-x"></i></span></a>
          <div class="spacer">
            <h1>General Settings</h1>
            <h3 class="warning"><i class="ti ti-shield-check"></i> This area is accessible to administrators only</h3>
          </div>
          <div class="spacer">
            <form action="/settings/webmaster" method="post">
              <label>Webmaster Contact Email</label><br>
              <input type="text" class="inline normal" name="email" placeholder="Administration Contact Email" value="{{webmaster}}">
              <input type="hidden" name="from" value="admin">
              <button type="submit" class="inline small btn-info"><i class="ti ti-check"></i></button>
            </form>
          </div>
          <div class="spacer">
            <h2>Schedule Manager</h2>
            <table>
              <tr class="heavy">
                <th>Year</th>
                <th>Delete</th>
              </tr>
              {{#each year}}
              <tr>
                <td>{{this}}</td>
                <td><a href="/schedule/delete?year={{this}}&from=admin" class="danger"><i class="ti ti-trash"></i></a></td>
              </tr>
              {{/each}}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="/js/modal.js"></script>
</body>
</html>